body {
  background-color: lightblue;
}

h1, h2, h3 {
  text-align: center;
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

p {
  text-align: center;
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
