body {
  background-color: lightblue;
}

h1, h2, h3 {
  text-align: center;
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

p {
  text-align: center;
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.section-title {
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.text {
  color: aliceblue;
  font-size: 16px;
  margin: 0 20px;
}

#lists {
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
}

#para2 {
  background-color: white;
  padding: 30px;
}

.flex-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}